body{
    margin: 0;
    background-color: rgb(242,243,245);
    color: rgb(16,12,89);
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    border-bottom: 1px solid dimgray;
}
.nav ul{
    margin: 0;
    padding: 5px;
    display: flex;
    list-style: none;
}
.nav ul li{
    padding: 11px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(14, 11, 70);
    
    /* color: black; */
}

.left{
    margin-left: auto;
    background-color: rgb(16,12,89);
    width: 128px;
    margin-right: 1px;
}
.left a{
    color: white !important;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
}
/* side nav */

.sidenav{
    border: 2px solid black;
    background-color: white;
    width: 198px;
    height: 94vh;
    position: fixed;
    top: 0px;
    left: -241px;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}
.closebtn{
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}
.side-list{
    margin-top: 30px;
}
.side-list a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
.side-list a div{
    padding: 10px;
}
.side-list a div:hover{
    padding: 18px;
    color: dimgray;
}
.vis{
    left: 0px !important;
}

/* next */

.heading h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 12px;
    padding: 10px;
}
/* main */
#main{
    padding-bottom: 16vh;
}
main{
    margin-top: 65px;
}
/* search */
form{
    display: flex;
    justify-content: center;
}
.search{
    margin: 18px;   
}
.search input[type="text"]{
    width: 80%;
    height: 30px;
    font-size: 1.5rem;
    background-color: white;
    padding: 9px;
}
.search button{
    font-size: 2rem;
    padding: 0px 20px;
    background-color: rgb(16,12,89);
    color: white;
    cursor: pointer;
}

/* course dash */

.course-parent-flex{
    display: flex;
    flex-direction: column;
    width: 86%;
    /* margin: auto; */
    margin-top: 89px;
    margin-left: 118px;
}
/* .course-child-parent{
    display: flex;
} */
.course-child-parent{
    display: flex;
    flex-wrap: wrap;
}
.course-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
    flex-basis: 89%;
}
.course-child img{
    
    margin-left: -23px;
    width: 150px;

}
.course-txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 48%;
    margin-left: -19px;
}
.course-txt h3{
    margin-top: -6px;
    font-size: 1.5rem;
    font-weight: 500;
}
.vr{
    height: 57px;
    border-left: 2px solid grey;;
}
.share{
    cursor: pointer;
    word-spacing: 12px;
    font-size: 1.2rem;
    color: #7f6be9;
}
.status{
    color: #61ad14;
}

.moremenu{
    cursor: pointer;
    padding: 16px;
}

.small-menu{
    background-color: WHITE;
    position: relative;
    /* position: absolute; */
    right: 32px;
    top: 50px;
    height: fit-content;
    padding: 0px 19px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.small-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0;
}
.small-menu ul li{
    margin: 9px 0px;
}
.small-menu ul li a{
    text-decoration: none;
}
.none{
    display: none;
}

.new-coures {
    background-color: white;
    position: absolute;
    top: 11%;
    left: 26%;
    width: 63%;
    box-shadow: 0px 0px 24px 1px black;
}
.admin{
    margin: 21px;
}
.admin h3{
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 28px;
    margin-bottom: 18px;
}
.admin a{
    text-decoration: none;
    color: white;
    background: rgb(2 15 108);
    padding: 4px 9px;
    margin-left: 68px;

}
.add-course{
    text-align: center;
}
.title{
    font-size: 3rem;
    margin-bottom: 19px;
}
.add-course input[type="text"]{
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 21px;
    font-size: 1.4rem;
}
.add-course input[type="datetime-local"]{
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.field-div{
    margin-bottom: 10px;
}
.field-div select{
    width: 51%;
    margin-left: 2px;
    font-size: 1.2rem;
}
.field-div button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 23px;
    font-size: 1.3rem;
    padding: 3px 19px;
    background: rgb(2 15 108);
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}
.cross{
    display: inline;
    position: relative;
    left: 95%;
    top: -9px;
    padding: -11px;
    font-size: 1.3rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .course-child img {
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    .course-child {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .course-txt h3 {
        margin-top: 14px;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        width: 361px;
        margin-left: 14px;
        margin-bottom: 12px;
    }
    .author{
        margin: auto;
        font-size: 1.3rem;
        margin-bottom: 9px;
    }
    .share{
        word-spacing: 0px;
    }
    .vr{
        height: 29px;
        margin-left: -34px;
    }
    .status{
        font-size: 1.3rem;
        margin-left: -29px;
    }
    .small-menu{
        right: 103px;
        top: 308px;
        height: fit-content;
    }
    .course-parent-flex{
        margin: auto;
        margin-top: 89px;
    }
    .course-child-parent{
        flex-wrap: nowrap;
    }
    .new-coures{
        margin: auto;
        position: inherit;
        width: 92%;
        padding-bottom: 30px;
    }
    .admin{
        margin: 0px;
        padding: 1px;
        margin-left: -18px;
    }
    .cross{
        top: -48px;
        left: 92%;
    }
    .admin h3{
        margin-top: 12px;
    }
    .title{
        font-size: 2.5rem;
    }
    .add-course input[type="text"]{
        width: 81%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 376px) {
    .course-child{
        width: 100%;
    }
    .course-txt h3{
        font-size: 1.15rem;
    }
    .share {
        font-size: 1rem;
    }
    .status{
        font-size: 1.1rem;
    }
    .author{
        font-size: 1rem;
    
    }
    .admin h3{
        font-size: 1rem;
    }
}