body {
    position: relative;
    margin: 0;
    color: rgb(16, 12, 89);
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    border-bottom: 1px solid dimgray;
    background: black;
}

.nav ul {
    margin: 0;
    padding: 5px;
    display: flex;
    list-style: none;
}

.nav ul li {
    padding: 11px;
    color: white;
}

.nav ul li a {
    text-decoration: none;
    /* color: black; */
}

.left {
    margin-left: auto;
    /* background-color: rgb(16,12,89); */
    width: 128px;
    margin-right: 1px;
    display: flex;
    align-items: center;
}

.left a {
    color: white !important;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
}

.heading {
    width: 90%;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading>h3 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0 12px;
    padding: 10px;
}

.heading>form {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    margin: auto 0;
    overflow: hidden;
}

.heading>form>input[type="text"] {
    width: 80%;
    height: 20px;
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 6px;
}

.course-parent-flex {
    width: 90%;
    max-width: 2000px;
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
}

.course {
    cursor: pointer;
    width: 90%;
    margin: 1.25% auto;
    border: 2px solid rgb(242, 243, 245);
}

.course>img {
    width: 100%;
    height: 150px;
}

.course>div {
    width: 90%;
    padding: 5%;
}

.course>div>h3 {
    margin-top: 0;
    margin-bottom: 0;
    height: 45px;
}

.course>div>.subtitle {
    font-size: 0.9rem;
    height: 70px;
    margin: 0;
}

.course>div>.instructor>span:nth-child(1) {
    color: grey;
    font-size: 0.9rem;
}

.course>div>ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.course>div>ul>li {
    margin: 0;
}

.course>div>ul>li>a {
    text-decoration: none;
}

.none {
    display: none !important;
}

.delete-course {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-course_popup {
    min-width:200px;
    max-width:500px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.92);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 65%);
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.popup-button {
    margin-right: 10px;
    padding: 8px;
    background-color: #ccc;
    font-size: inherit;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-red {
    background-color: #d9534f;
    color: white;
}

/*course popup*/

.new-coures {
    background-color: white;
    position: fixed;
    margin: auto;
    width: 90%;
    right: 5%;
    top: 5%;
    box-shadow: 0px 0px 24px 1px black;
}

.admin {
    width: 95%;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
}

.admin>.title {
    font-size: 1.5rem;
}

.admin>.cross {
    font-size: 1.3rem;
    cursor: pointer;
}

.add-course {
    text-align: center;
    width: 95%;
    padding: 2.5%;
}

.add-course>form {
    box-sizing: border-box;
    width: 100%;
}

.add-course>form>input {
    display: block;
    width: 95%;
    padding: 2.5%;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkbox {
    font-size: 20px;
}

.error {
    color: red;
}

.add-course>form>button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 23px;
    font-size: 1.3rem;
    padding: 3px 19px;
    background: rgb(2 15 108);
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

/*Coure popup end*/

@media screen and (min-width:800px) {
    .course-parent-flex {
        padding: 10px 2.5%;
    }
    .course {
        width: 30%;
        margin: 1.25%;
    }
}

@media screen and (min-width:1200px) {
    .course-parent-flex {
        padding: 10px 2.5%;
    }
    .course {
        width: 22%;
        margin: 1.25%;
    }
    /*new course popup*/
    .new-coures {
        width: 40%;
        right: 30%;
    }
    .add-course>form>input {
        width: 95%;
        padding: 10px 2.5%;
        margin: 0 0 10px 0;
    }
}