body{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(
        90deg,#deefdc,#9fd5f3);
}
/* Nav section */
nav {
    background-color: black;
    color: #fff;
}
nav ul{
    display: flex;
    list-style: none;
    
    margin: 0px;
    align-items: center;
}
nav ul li{
    padding: 9px 24px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;   
    
}
nav ul li a:hover{
    color: #9fd5f3;
}
.left{
    margin-left: auto;
}

/* next section */
#con-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    /* height: 70vh; */
}
.con-main{
    text-align: center;
    width: 48vw;
    margin: 0 auto;
}
.con-main h1{
    font-size: 3.2rem;
    font-weight: 400;

}
.input-parent{
    width: 100%;
    text-align: left;
    font-size: 1rem;
   
}
.input-parent input{
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    background-color: #e5e5e5;
    border: 1px solid #eee;
    margin-bottom: 16px;
    border-radius: 10px;

}
.no {
    font-family: auto;
}
#extra-btn{
   
}
#extra-btn span.left a{
    color: #1ea8e1;
}
.signin{
    display: flex;
    margin-top: 13px;   
    justify-content: center;
}
.signin input:hover{
   color: #9fd5f3;
}
.signin input{
    padding: 10px 32px;
    background-color: black;
    color: white;
    border-radius: 24px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.con-new-account{
    margin-top: 16px;
}

.con-new-account a{
    color: #1ea8e1;
}





/* media Querries */

@media screen and (max-width: 768px) {
    nav ul li {
        padding: 10px 6px;
    }
    nav ul li a {
        font-size: 1.1rem !important;
    }
    .con-main{
        width: 82%;
    }
    .con-main h1 {
        font-size:1.8rem;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .signin {
        display: block;
      
    }
    .signin input {
    
     
    
        border-radius: 10px;
        font-size: 1rem;
    }

    #con-welcome{
        width: 100%;
    }
    .input-parent input{
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .signin input{
        padding: 18px 92px;
    }
    .con-main h1{
        margin-top: 2rem;
        font-size: 2.6rem;
        margin-bottom: 3rem;
    }
}