body {
  background: #eee;
  font-family: 'Alegreya', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

.studentContainer {
  padding: 0 5rem;

}

.studentHeader,.detailHeader{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.detailHeader div {
  word-break: break-all;
  margin-right: 5px;
}

.detailHeader {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  transition: all 500ms linear;
  cursor: pointer;
}

.detailHeader:hover {
  background: #eee;
}

.studentHeader::after{
  content: '';
  position: absolute;
  bottom:-20%;
  left:0;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.4);
}
.studentHeader div,.detailHeader div{
  font-size: 17px;
  font-weight: normal;
  width: 16%;
  display: flex;
}

.studentHeader div {
  color: #0275d8;

}

.studentCount {
  text-align: center;
  }

  .studentCount h1 {
    font-weight: normal;
    font-size: 22px;
  }

  .detailHeader i {
    margin-right: 10px;
  font-size: 22px;
  cursor: pointer;

  }
.detailHeader div .edit {
  color: #5cb85c;
}

.detailHeader div .delete {
  color: #d9534f;
}

.addModal,.editModal,.copyModal,.editPasswordModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}


.add_popup,.edit_popup,.copy_popup,.editPassword_popup {
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(255,255,255,0.92);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.65);
  position: relative;

}
.buttons {
  margin-top: 8px;
  display: flex;
}

.popup-button {
  margin-right: 10px;
  padding: 8px;
  background-color: #ccc;
  font-size: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red {
  background-color: #d9534f;
  color: white;
}

.copy_popup ul {
  padding: 0;
  margin: 0;
}

.password-container {
  position: relative;
}

.password-icon {
  position: absolute;
  right:2%;
  padding:8px;
  cursor: pointer;
}

.copy_popup ul li {
  list-style: none;
  margin-bottom: 9px;
  font-size: 17px;
}

.copy_popup ul li span {
  text-transform: capitalize;
  font-weight: 500;

}
.openModal {
  transform: scale(1);
}
.close {
  position: absolute;
  top:5%;
  right:5%;
}

.close i {
  font-size: 22px;
  color: #d9534f;
  cursor: pointer;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.input {
  padding: 8px;
  outline: none;
  border: 1px solid #999;
  width: 180px;
  border-radius: 8px;
  margin-bottom: 18px;
}
::-webkit-input-placeholder {
  font-family: 'Alegreya';
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color:#0d6efd !important;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

header {
  display: flex;
  padding: 5rem 5rem 2rem 5rem;
  justify-content: space-between;
}

.heading {
  font-size: 25px;
  font-weight: bold;
}

.download {
  margin-right: 7px;
}
.export {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  outline: none;
  text-align: center;
  min-width: 120px;
  border-radius: 5px;
  background: #0d6efd;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: lighter;
}

input[type="date"]::before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
  font-family: 'Alegreya',serif;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

label {
  font-family: inherit;
}

.searchContainer {
  padding: 0 5rem 5rem 5rem;
  display: flex;
  justify-content: center;
}
.search-input {
  width: 250px;
  position: relative;

}
.search {
  padding: 15px;
  border: 1px solid #999;
  outline: none;
  width: 100%;
  background: #DCDCDC;
  border-radius: 5px;
}

.studentWrap {
  background-color: rgba(255,255,255,0.82);
  padding: 2rem 6px;
  border-radius:8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.search:focus{
  border: 1px solid #0275d8;
}
.search::placeholder{
  font-size: 15px;
}

.icon {
  position: absolute;
  top: 0;
  left:0;
  padding: 15px 10px;
  font-size: 17px;
  color:#0d6efd;
}

option {
  height:30px;
  font-family: 'Alegreya';
  color: black;
}
@media (max-width: 768px) {
  .studentContainer {
    padding: 3px;
  }
  .studentHeader div,
  .detailHeader div {
    flex-wrap: wrap;
    word-wrap:break-word;
    word-break: break-all;
  }
  .studentHeader>div:nth-of-type(1),
  .detailHeader>div:nth-of-type(1) {
    width:fit-content;
  }
  .detailHeader i{
    font-size: 18px;
  }

  
  header {
    padding: 2rem;
    flex-direction: column;
  }

  .export {
    width: 120px;
    align-self: flex-end;
    margin-top: 14px;
  }
}