html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #eee !important;
}

/* Nav section */

nav {
    background-color: black;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    align-items: center;
}

nav ul li {
    padding: 9px 0;
    cursor: pointer;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;
}

nav ul li a:hover {
    color: #9fd5f3;
}

.notify-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.notify-main>.notify-form {
    width: 95%;
    padding: 2.5%;
}

.notify-main>.notify-form>form {
    width: 100%;
}

.notify-main>.notify-form>form>textarea {
    display: block;
    width: 95%;
    padding: 1.5%;
    border: 2px solid #eee;
    font-weight: bold;
    font-size: 1rem;
    height: 200px;
}

.notify-main>.notify-form>form>button {
    width: fit-content;
    display: block;
    margin: 10px auto 10px 0;
    border-radius: 5px;
    color: white;
    background-color: #333;
    padding: 8px 30px;
    border: transparent;
}

.notify-main>.notify-content {
    width: 95%;
    padding: 2.5%;
}

.notifications {
    width: 100%;
}

.notifications>.notification {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 2.5%;
    background-color: white;
    border-bottom: 1px solid grey;
}

.notifications>.notification>.content {
    width: 80%;
}
.notifications > .notification >.content .detail {
    width: fit-content;
    color: grey;
    margin:0 0 0 auto;
}
.notifications>.notification>.content>p {
    margin-top: 0;
    font-size:1rem;
}

.notifications>.notification>.content>.time {
    color: grey;
    margin-left: auto;
}

.notifications>.notification>span>i:hover {
    color: orangered;
    transition: all 0.5s;
}

@media only screen and (min-width:1200px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .notify-main {
        height: 86%
    }
    .notify-main>.notify-form {
        width: 30%;
    }
    .notify-main>.notify-content {
        width: 60%;
        padding: 2.5%;
        height: 100%;
        overflow-y: scroll;
    }
}